<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Imagen</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1" />
        <script src="js/vue.js?v=3.0.11" type="text/javascript"></script>
        <link rel="stylesheet" href="css/app.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="image/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png">
        <link rel="manifest" href="image/site.webmanifest">
        
    </head>
    <body> 
        <div id="app-container">
            <div class="nav-container" v-if="!isStripOn && !isGridOn">
                <nav>
                    <img src="image/strip.png" @click="gotoStripGen" class="nav-icon" />
                    <img src="image/grid.png" @click="gotoGridGen" class="nav-icon" />
                </nav>
            </div>

            <div class="container" v-if="isStripOn">
                <div class="p-lr20 border-t">
                  <div class="ipt-wrap border-b flex ai-center flex-horizontal-center">
                    <label for="width">宽度</label>
                    <input type="text" class="ml10 flex1" v-model="deviceScreenSize.width"></input>
                    <label for="height" class="ml40">高度</label>
                    <input type="text" class="ml10 flex1" v-model="deviceScreenSize.height"></input>
                  </div>
                  <div class="ipt-wrap ai-center flex-horizontal-center">
                    <button class="button" @click="previewStripImage">预览</button>
                    <!--
                    <button class="button" :disabled="!stripImageAvailable" @click="downloadStripImage">保存</button>
                    -->                    
                    <button class="button" @click="backToHome">返回</button>
                  </div>
                </div>

                <div class="p-lr20 flex-horizontal-center" v-if="stripImageDataUrl">
                    <a :download="stripImageDownloadName" :href="stripImageDataUrl" v-if="stripImageAvailable">
                        <img id="stripImagePreview" :src="stripImageDataUrl" style="width:200px" />
                    </a>
                    <!--
                        {width: previewWidth + 'px', height: previewHeight + 'px'}
                    <canvas id="stripImageCanvasBuffer" type="2d" style="width:200px;height:200px"></canvas>
                    -->
                </div>              
            </div>

            <div class="container" v-if="isGridOn">
                <div class="p-lr10 border-t">
                    <div class="ipt-wrap border-b flex ai-center flex-horizontal-center">
                        <label for="width">宽度</label>
                        <input type="text" class="ml10 flex1" v-model="deviceScreenSize.width"></input>
                        <label for="height" class="ml40">高度</label>
                        <input type="text" class="ml10 flex1" v-model="deviceScreenSize.height"></input>
                    </div>
                    <div class="ipt-wrap border-b flex ai-center flex-horizontal-center">
                        <label for="gridWidth">单元格宽度</label>
                        <input type="text" class="ml40 flex1" v-model="gridWidth"></input>
                    </div>
                    <div class="ipt-wrap border-b flex ai-center flex-horizontal-center">
                        <label for="colorGrid">色彩</label>
                        <textarea class="textarea lh15 mtb20" v-model="mGrid"></textarea>
                    </div>
                
                    <div class="ipt-wrap ai-center flex-horizontal-center">
                        <button class="button" @click="previewGridImage">预览</button>
                        <!--
                        <button class="button" :disabled="!gridImageAvailable" @click="downloadGridImage">保存</button>
                        -->
                        <button class="button" @click="backToHome">返回</button>
                    </div>
                </div>

                <div class="p-lr20 flex-horizontal-center" v-if="gridImageDataUrl">
                    <a :download="gridImageDownloadName" :href="gridImageDataUrl" v-if="gridImageAvailable">
                        <img id="gridImagePreview" :src="gridImageDataUrl" style="width:200px" />
                    </a>
                </div>   
            </div>

        </div>
    </body>
    <script src="js/app.js?v=1.1" type="text/javascript"></script>
</html>